:root {
  --custom-link-color: #0254a7;
  --main-font: 'Roboto Condensed Variable', sans-serif;
}

body,
* {
  font-family: var(--main-font) !important;

  .contentContainer {
    max-width: 1200px;
    height: 1135px;
  }
}
